#container {
  height: calc(100vh - 280px);
  width: 100%;
  background: #dcdcdc;
  display: flex;
  align-items: start;
  justify-content: center;
}

#login__form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  border-radius: 8px;
  gap: 30px;
  height: fit-content;
}

#form__header {
  display: flex;
  align-items: center;
}

#form__header h1 {
  font-size: 40px;
  margin-bottom: 2rem;
}

#mode__icon {
  cursor: pointer;
  font-size: 20px;
}

#social__media {
  display: flex;
  justify-content: space-around;
}

#social__media a {
  font-size: 35px;
  color: #111;
}

#login__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-box label {
  font-size: 14px;
  color: #111;
}

.input-field {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 3px;
  cursor: text;
  border-bottom: 1px solid #111;
}

.input-field i {
  font-size: 18px;
  color: #111;
}

.input-field input {
  border: none;
  background-color: transparent;
  width: 260px;
  font-size: 18px;
  padding: 0px 5px;
}

/* tirar borda ao clicar */
.input-field input:focus {
  outline: none;
}

#forgot__password a {
  text-decoration: none;
  font-size: 12px;
  color: var(--color-dark-50);
}

#login__button {
  border: none;
  background: #111;
  color: white;
  padding: 7px;
  font-size: 18px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}
